@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
--color-green: #38AF90;
--color-white: #FFFFFF;
--color-gray: #797979;
--color-light-gray: #F0F0F0;
--color-light-red: #DD7E92;
--color-dark-grey: #383838;
}

*{
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0 auto;
}

header{
    background-color: var(--color-green);
    height: 90px;
}

h1{
color: var(--color-white);
font-size: 24px;
display: flex;
margin: 27px 0;
}

a{
    color: var(--color-white);
    font-size: 14px;
    display: flex;
}

.container{
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.teste{
    display: flex;
    flex-direction: row;
}

.teste li{
    padding: 34px 17px;

}

.nav-title{
    margin: 0;
}

 li{
    list-style-type: none;
}

.profile{
    margin: 0;
}

.menu-itens{
    margin: 0;

}

img{
    width: 62px;
    height: 62px;
    margin: 14px 0;
}


